/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Island+Moments&family=Kolker+Brush&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Courier New", Courier, monospace;
}
h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
h2 {
  font-size: 1.8rem;
  font-weight: 600;
}
h3 {
  font-size: 1.4rem;
  font-weight: 800;
}

h4 {
  font-size: 1.1rem;
  font-weight: 600;
}
h5 {
  font-size: 1rem;
  font-weight: 400;
  color: #1d1d1d;
}

h6 {
  color: #d8d8d8;
}

button {
  font-size: 0.8rem;
  font-weight: 700;
  outline: none;
  border: none;
  background-color: #1d1d1d;
  color: aliceblue;
  padding: 13px 30px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #3a3833;
}

#logo {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-right: 0px;
  font-size: 20px;
  padding-left: 0px;
  /* font-family: "Dancing Script", cursive; */

  color: rgb(146, 86, 161);
}
#logo img {
  height: 80px;
  width: 100%;
}
@media only screen and (max-width: 400px) {
  #logo img {
    height: 10px;
  }
}

/* navbar */

/* Header part */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #f0efed;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  /* position: sticky; */
  top: 0;
  left: 0;
}
.pos-sticky {
  position: sticky;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover {
  color: #810857;
}

#navbar li a:hover,
#navbar li a.active {
  color: #810857;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #6d0a7e;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}
#close {
  display: none;
}
.logo {
  height: 60px;
}
#navbar i {
  font-size: 1.2rem;
  padding: 0 12px;
  cursor: pointer;

  transition: 0.3s ease;
}

@media (max-width: 799px) {
  .section-p1 {
    padding: 40px 40px;
  }

  /* Navbar */

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
    z-index: 5000;
  }

  #navbar.loading {
    right: 0px;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile i {
    color: #1a1a1a;
    padding-left: 20px;
    font-size: 24px;
  }

  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font: 20px;
    text-decoration: none;
    font-weight: 700;
  }
  .logo {
    height: 50px;
  }
}

/* home page */

#home {
  background-image: url("home2.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  /* background-position: top 25% right 0%; */
  padding: 0 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#home h5 {
  color: rgb(146, 86, 161);
}
#home h1 {
  color: white;
}
#home span {
  color: rgb(146, 86, 161);
}
#home p {
  color: white;
}

/*Publisher section*/

.grid {
  display: block;
  padding: 16px;
  display: grid;
  grid-gap: 16px;
  margin: 10px;
}

.grid .column {
  /* background-color: pink; */
  margin-bottom: 16px;
  padding: 10px;
}

.grid .column img {
  height: 50px;
  width: 90%;
}

@media only screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 960px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

/*Main section 1*/

#main1 {
  background-color: rgb(240, 232, 232);
  margin: 10px;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 25px;
}
#main1 h3 {
  padding-left: 28px;
  font-family: "Roboto";
}
#main1 h6 {
  font-size: 14px;
}

.grid-main1 {
  display: block;
  padding: 16px;
  display: grid;
  grid-gap: 16px;
  margin: 10px;
}

.grid-main1 .column-main1 {
  /* background-color: pink; */
  margin-bottom: 16px;
  padding: 10px;
}

.grid-main1 .column-main1 img {
  height: 150px;
  width: 60%;
  margin-bottom: 6px;
}

#main1 .deal {
  color: white;
  background-color: red;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 3px;
}

@media only screen and (min-width: 768px) {
  .grid-main1 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-main1 .column-main1 img {
    height: 170px;
    width: 100%;
  }
}

@media only screen and (min-width: 960px) {
  .grid-main1 {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-main1 .column-main1 img {
    height: 140px;
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .grid-main1 {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-main1 .column-main1 img {
    height: 240px;
    width: 100%;
  }
}

/*slider section*/

#slider .box {
  width: 3000px;
  background-color: red;
  border-radius: 10px;
}
